.container-1, .container-2,.container-3, .container-4, .container-5{
    border: 1px solid black;
    padding: 10px;
    width: 75%;
    margin:0 auto;
    text-align: center;

}
.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color,.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url("https://www.fabricsandpapers.com/media/catalog/product/cache/dd7295f9c8e1f63cd0651955a72a9820/b/l/blackjack-wool-fabric-dark-forest-green.jpg") center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.flex-blackjack-row-1 div{
    border: 1px solid white;
    text-align: center;
    flex: 1;
    padding: 10px;
    height: 350px;
}
.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
table, th, td{
    padding: 5px;
    border: 1px solid black;
}
.flex-box-container-1 div{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}
.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0,0.7);

}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(30,50,233,0.9);

}